h1 {
   color:#ffffff;
   font-size:100px;
   font-family:oraqle;
   text-align:center;

}

@font-face{
    font-family:"oraqle";
    src:url('/fonts/Oraqle-Script.otf');
    font-style:normal;
}

h3{
   color:#ffffff;
}

p{
   color:#ffffff;
   font-size:12px;
}

h2{
   color:#ffffff;
   background-color:#8b4789;
}
