html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {margin: 0%;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
button,input,select,textarea {font-family: inherit;font-size: 100%;margin: 0;}
button,input {line-height: normal;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}





abbr[title],
acronym[title] {
  border-bottom-width: 0;
}


@font-family{
  font-family: Zallord; 
  src: url(inf/Zallord.ttf);
}

html,
body {
  font-family: "ff-meta-web-pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  line-height: 26px;
  background: #f2e3de;
  background-size: 60%;
  color: #037f79;
}
p{
  margin: 0;
}
a {
  color: #037f79;
  text-decoration: none;
  border-bottom: 1px solid #037f79;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* 
==========================================================================
div_1
==========================================================================
*/

.header_div{
  height: 800px;
}


.div_1 header h1 {
  position: absolute;
  color: #ffffff;
  font-size: 100%;
  line-height: 1em;
  top: 5em;
  left: -5em;
  width: auto;
  padding: 1em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /*??????????????????????????????????????????????????????????????????????????????????????????????/*/
}

.PhotoBlock{
  width: 350px;
}
.pinkBlock{
  background-color: #f4b5a4;
}
.blueBlock{
   background-color: rgba(45,194,172,0.5);
}
.greenBlock{
  background-color: #037f79;
}
.floatColumn{
  float: left;
  display: block;
}
.fullHeight{
  height: 100%; 
}
h1{
  margin-top: 25%;
  margin-left: 30%;
  color: #ffffff;
  font-size: 96px;   
  line-height: 3em;
  font-family: Zallord;
}
.div_3 {
  background-color: #f4b5a4;
  height: 55%;
}
.img_div{
  margin: 4%;
}

.div_3 p{
  position: relative;
  top: 35%;
  left: 5%;
  margin-right: 33%;
}


.whiteBlock{
 background-color: #f2e3de;
} 
.div_7 #con_div5 {
  background-color: rgba(45,194,172,0.5); 
}
.div_7 #con_div5 p {
  margin: 3%;
}
#so_far{
margin-top: 5%;
margin-left: 33.33%;
max-width: 55%
}
#con_div5{
  height: 130%;
}
#text5{
  position: relative;
  top: 15%;
  left: 5%;
  max-width: 90%;
}
#div_8 {
  background-image: url("inf/16.jpg");
  background-repeat: no-repeat;
  height: 1050px;
  width: 100%;
}
#div_8 h3{
  color: white;
  font-size: 1.7em;
  position: absolute;
  left: -80px;
  top: 120px;
  transform: rotate(-90deg);
}
.textBox9{
  background-color: #037f79;
  float: left;
  width: 40%;
  position: absolute;
  margin-top: 25%;
}
.textBox9 p{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 13%;
  max-width: 57%;
  font-size: 1em;
}
#img_div9{
  float: left; 
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.main_bottom {
 background-color: #f2e3de;
 height: 800px; 
}
.text10 p {
  margin-top: 3%;
  margin-bottom: 3%;
}
.text10 h3{
  margin-top: 5%;
}
.div_11 {
  position: relative:
  top:-10%;
  background-color: rgba(45,194,172,0.5);
  width: 20%;
  height: 150%;
  }
#img_div11 {
  margin-top: 10%;
  margin-left: 10%;
}
#text_div11 {
  margin-top: 5%;
  margin-left: 6%;
  max-width: 88%;  
}
#footer{
  height :1600px;
  width: 100%;
}
#img_div12 {
  margin-top: -20%;
  margin-left: 10%;
  width: 90%;
}
.div_13 {
  width: 30%;
}
.in13 p {
  margin-top: -9%;
  margin-left: 30%;
  max-width: 65%;
}
.fin13 p {
  margin-top: -9%;
  margin-left: 8%;
  max-width: 65%;
}
.in13 h3{
 position: absolute;
 transform: rotate(-90deg);
 font-size: 1.7em;
}


.space {
  width: 100%;
  height: 400px;
  background-color: #f2e3de; 
}
.galery {
  width: 100%;
  height: 1000px;
}
.menu {
  width: 20%;
  height: 100%;
 }
.button {
    background-color: #f4b5a4; 
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    
}
#btn1 {
  margin-top: 60%;
  margin-left: 28%;
}#btn2 {
  margin-top: 8%;
  margin-left: 31%;
}#btn3 {
  margin-top: 8%;
  margin-left: 32%;
}#btn4 {
  margin-top: 8%;
  margin-left: 18%;
}
.greenBtn{
  display: none;
  background-color: #037f79; 
  border: none;
  color: white;
  font-size: 1.2em;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}
.insideBtn{
  display: none;
}

.insideImg{
  display: none;
}
.default{
  display: block;
}
#btn11{
  margin-top: 70%;
  margin-left: 30%;}
#btn12{
  margin-top: 5%;
  margin-left: 29%;}
#btn13{
  margin-top: 5%;
  margin-left: 30%;}
#btn14{
  margin-top: 5%;
  margin-left: 25%;}
#btn15{
  margin-top: 5%;
  margin-left: 26%;}
#btn16{
  margin-top: 5%;
  margin-left: 23%;
  max-width: 60%;}

#pht1{
  width: 100%;
  height: 80%;
  margin-top: 8%;}
#pht2{
  width: 100%;
  height: 100%;}
#pht3{
  width: 100%;
  height: 100%;}
#pht4{
  width: 100%;
  height: 100%;}
#pht5{
 height: 100%;
 margin-left: 10%;}
#pht6{ 
  width: 100%;
  margin-top: 6%;}

#btn21{
  margin-top: 90%;
  margin-left: 26%;}
#btn22{
  margin-top: 5%;
  margin-left: 22%;}
#btn23{
  margin-top: 5%;
  margin-left: 27%;}
#btn24{
  margin-top: 5%;
  margin-left: 17%;}

#paint1{
  height: 100%;
  margin-left: 18%;}
#paint2{
  height: 100%;
  margin-left: 6%;}
#paint3{
  height: 100%;
  margin-left: 18%;}
#paint4{
  height: 100%;
margin-left: 6%;}

#btn31{
  margin-top: 83%;
  margin-left: 17%;}
#btn32{
  margin-top: 5%;
  margin-left: 17%;}
#btn33{
  margin-top: 5%;
  margin-left: 17%;}
#btn34{
  margin-top: 5%;
  margin-left: 13%;}
#btn35{
  margin-top: 5%;
  margin-left: 13%;}
#prj1{
  height: 100%;}
#prj2{
  height: 100%;}
#prj3{
  height: 100%;}
#prj4{
  width: 100%;
  margin-top: 5%;}
#prj5{
  height: 100%;}

#btn41{
  margin-top: 83%;
  margin-left: 17%;}
#btn42{
  margin-top: 5%;
  margin-left: 17%;}
#btn43{
  margin-top: 5%;
  margin-left: 17%;}
#btn44{
  margin-top: 5%;
  margin-left: 17%;}
#btn45{
  margin-top: 5%;
  margin-left: 17%;}
#jwl1{
  height: 80%;
  margin-top: 8%;
  margin-left:15%;}
#jwl2{
  height: 80%;
  margin-top: 8%;
  margin-left:15%;}
#jwl3{
  height: 80%;
  margin-top: 8%;
  margin-left:15%;}
#jwl4{
  height: 80%;
  margin-top: 8%;
  margin-left:15%;}
#jwl5{
  height: 80%;
  margin-top: 8%;
  margin-left:15%;}

#LLF {
  height: 100%;
  width: 20%;}
#midF {
  height: 100%;
  width: 20%;}
#finF {
  height: 100%;
  width: 60%;}
.txtFin {
  margin-top: 5%;
  margin-left: 30%;
  max-width: 40%;}
.txtFin p {
  font-size: 1.2em;}
  .txtFin h3 {
  font-size: 1.5em;}
#mailBox {
 width: 100%;
 height: 100%;}
#pBox { 
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 15%;
  margin-left: 22%;
  max-width: 60%;
  text-align: center}
#click {
  color: #ffffff;
  font-size: 2em;
  margin-left: 32%;}

