
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body {margin: 0;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
h1 {font-size: 2em;margin: 0.67em 0;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
mark {background: #ff0;color: #000;}
code,kbd,pre,samp {font-family: monospace, serif;font-size: 1em;}
pre {white-space: pre-wrap;}
q {quotes: "\201C" "\201D" "\2018" "\2019";}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0;padding: 0;}
button,input,select,textarea {font-family: inherit;font-size: 100%;margin: 0;}
button,input {line-height: normal;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}
table {border-collapse: collapse;border-spacing: 0;}





abbr[title],
acronym[title] {
  border-bottom-width: 0;
}


html,
body {
  font-family: "ff-meta-web-pro", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  line-height: 26px;
  background: #f2e3de;
  background-size: 60%;
  color: #037f79;
}
p{
  margin: 0;
}
a {
  color: #037f79;
  text-decoration: none;
  border-bottom: 1px solid #037f79;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

/* 
==========================================================================
div_1
==========================================================================
*/

.header_div{
  height: 800px;
}


.div_1 header h1 {
  position: absolute;
  color: #ffffff;
  font-size: 100%;
  line-height: 1em;
  top: 5em;
  left: -5em;
  width: auto;
  padding: 1em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /*??????????????????????????????????????????????????????????????????????????????????????????????/*/
}

.PhotoBlock{
  width: 350px;
}
.pinkBlock{
  background-color: #f4b5a4;
}
.blueBlock{
   background-color: rgba(45,194,172,0.5);
}
.greenBlock{
  background-color: #037f79;
}
.floatColumn{
  float: left;
  display: block;
}
.fullHeight{
  height: 100%; 
}
h1{
  margin-top: 40%;
  margin-left: 30%;
  color: #ffffff;
  font-size: 96px;   
  line-height: 3em;
  font-family: Zallord; src: url(inf/Zallord.ttf);
}
.div_3 {
  background-color: #f4b5a4;
  height: 55%;
}
.img_div{
  margin: 4%;
}

.div_3 p{
  position: relative;
  top: 50%;
  left: 5%;
  margin-right: 33%;
}


.whiteBlock{
 background-color: #f2e3de;
} 
.div_7 #con_div5 {
  background-color: rgba(45,194,172,0.5); 
}
.div_7 #con_div5 p {
  margin: 3%;
}
#so_far{
margin-top: 5%;
margin-left: 33.33%;
max-width: 55%
}
#con_div5{
  height: 130%;
}
#text5{
  position: relative;
  top: 15%;
  left: 5%;
  max-width: 90%;
}
#div_8 {
  background-image: url("inf/16.jpg");
  background-repeat: no-repeat;
  height: 1050px;
  width: 100%;
}
#div_8 h3{
  color: white;
  font-size: 1.7em;
  position: absolute;
  left: -80px;
  top: 120px;
  transform: rotate(-90deg);
}
.textBox9{
  background-color: #037f79;
  float: left;
  width: 40%;
  position: absolute;
  margin-top: 25%;
}
.textBox9 p{
  color: #ffffff;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 13%;
  max-width: 57%;
  font-size: 1em;
}
#img_div9{
  float: left; 
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.main_bottom {
 background-color: #f2e3de;
 height: 800px; 
}
.text10 p {
  margin-top: 3%;
  margin-bottom: 3%;
}
.text10 h3{
  margin-top: 5%;
}
.div_11 {
  position: relative:
  top:-10%;
  background-color: rgba(45,194,172,0.5);
  width: 20%;
  height: 150%;
  }
#img_div11 {
  margin-top: 10%;
  margin-left: 10%;
}
#text_div11 {
  margin-top: 5%;
  margin-left: 6%;
  max-width: 88%;  
}
#footer{
  height :1600px;
  width: 100%;
}
#img_div12 {
  margin-top: -20%;
  margin-left: 10%;
  width: 90%;
}
.div_13 {
  width: 30%;
}
.in13 p {
  margin-top: -9%;
  margin-left: 30%;
  max-width: 65%;
}
.fin13 p {
  margin-top: -9%;
  margin-left: 8%;
  max-width: 65%;
}
.in13 h3{
 position: absolute;
 transform: rotate(-90deg);
 font-size: 1.7em;
}








/*.div_9 h3 {
  position: relative;
  top: 3%;
  left: 3%;
-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /*??????????????????????????????????????????????????????????????????????????????????????????????/*/
}
/*.div_9 p {
  position: relative;
  top: 3%;
  left: 10%;
  right: 0%;
}
.div_9 #img_div9 {
  position: 
  top: 3%;
  right: 2%;
}

.div_10 {
  position: relative;
  top: -200px;
  left: 15%;
}

.div_11 {
  position: relative;
  top: -15px;
  right: : 20%;
}

.footer {
  background-color: #f2e3de;
}

.div_12 {
  position: relative; 
  top: 10%;
}

.div_13 {
  position: relative;
  right: 5%;
}




/

==========================================================================
Sidebar
==========================================================================
*/
.sidebar {
  margin-top: 55em;
  padding-top: 20em;
  background: #f4b5a4;
  overflow: hidden;
}
  @media (max-width: 70em) {
    .sidebar {
      margin-top: 65em;
    }
  }
  @media (max-width: 53em) {
    .sidebar {
      margin-top: 2em;
      padding-top: 2em;
    }
  }
.sidebar .design-selection h3 {
  color: #ffffff;
  font-size: 150%;
  line-height: 1em;
  width: 20%;
  float: left;
  padding: 5em 1em;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .sidebar .design-selection h3 {
      width: 100%;
      padding: 0 1em;
      text-align: right;
    }
  }
  @media (max-width: 53em) {
    .sidebar .design-selection h3 {
      text-align: left;
    }
  }
.sidebar .design-selection nav {
  width: 80%;
  margin-left: 20%;
  padding: 1em 0 2em 0;
}
  @media (max-width: 70em) {
    .sidebar .design-selection nav {
      width: 100%;
      margin-left: 0;
    }
  }
.sidebar .design-selection nav ul {
  padding: 0;
}
.sidebar .design-selection nav ul li {
  display: inline-block;
  list-style: none;
  color: #ffffff;
  width: 25%;
  float: left;
  padding: 10em 1em 2em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li {
      width: 100%;
      padding: 5em 1em 2em 1em;
    }
  }
.sidebar .design-selection nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-bottom: 0 solid transparent;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li a {
      display: inline;
    }
  }
.sidebar .design-selection nav ul li a:hover {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 0 solid transparent;
}
.sidebar .design-selection nav ul li:nth-child(1) {
  background: #037f79;
  margin-top: -29em;
  padding: 39em 1em 2em 1em;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(1) {
      margin-top: 0;
      padding: 5em 1em 2em 1em;
    }
  }
.sidebar .design-selection nav ul li:nth-child(2) {
  background: #e07f69;
}
.sidebar .design-selection nav ul li:nth-child(3) {
  background: #2dc2ac;
}
.sidebar .design-selection nav ul li:nth-child(4) {
  background: #e07f69;
}
.sidebar .design-selection nav ul li:nth-child(5) {
  background: #037f79;
}
.sidebar .design-selection nav ul li:nth-child(6) {
  background: #e07f69;
}
.sidebar .design-selection nav ul li:nth-child(7) {
  background: #2dc2ac;
}
.sidebar .design-selection nav ul li:nth-child(8) {
  background: #e07f69;
}
.sidebar .design-selection nav ul li:nth-child(1)::before {
  content: "1";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(1)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(2)::before {
  content: "2";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(2)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(3)::before {
  content: "3";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(3)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(4)::before {
  content: "4";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(4)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(5)::before {
  content: "5";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(5)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(6)::before {
  content: "6";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(6)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(7)::before {
  content: "7";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(7)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-selection nav ul li:nth-child(8)::before {
  content: "8";
  font-size: 700%;
}
  @media (max-width: 53em) {
    .sidebar .design-selection nav ul li:nth-child(8)::before {
      font-size: 300%;
      display: block;
      padding: 0 0 0.25em 0;
    }
  }
.sidebar .design-archives {
  background: #2dc2ac;
  position: relative;
  width: 20%;
  margin: 0 20% 0 60%;
  padding: 10em 1em 3em 1em;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .sidebar .design-archives {
      width: 25%;
      margin: 0 25% 0 50%;
    }
  }
  @media (max-width: 53em) {
    .sidebar .design-archives {
      background: #2dc2ac;
      width: 100%;
      margin: 0;
      padding: 4em 1em 1em 1em;
    }
  }
.sidebar .design-archives h3 {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  font-size: 150%;
  line-height: 2em;
  top: 8.5em;
  left: -4em;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
  @media (max-width: 53em) {
    .sidebar .design-archives h3 {
      top: 0;
      left: 0;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    }
  }
.sidebar .design-archives nav {
  overflow: hidden;
  width: 100%;
}
.sidebar .design-archives ul {
  padding: 0;
  overflow: hidden;
}
.sidebar .design-archives ul li {
  display: inline-block;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.sidebar .zen-resources {
  background: #2dc2ac url(icon-circles.svg) no-repeat left bottom;
  background-size: 100%;
  position: relative;
  z-index: 2;
  width: 20%;
  margin: 0 20% 0 60%;
  padding: 8em 1em 22em 1em;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  @media (max-width: 70em) {
    .sidebar .zen-resources {
      width: 25%;
      margin: 0 25% 0 50%;
    }
  }
  @media (max-width: 53em) {
    .sidebar .zen-resources {
      background: #2dc2ac url(icon-circles.svg) no-repeat center bottom;
      background-size: 35%;
      width: 100%;
      margin: 0;
      padding: 2em 1em 10em 1em;
    }
  }
.sidebar .zen-resources h3 {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  font-size: 150%;
  line-height: 2em;
  top: 8em;
  left: -4.5em;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
  @media (max-width: 53em) {
    .sidebar .zen-resources h3 {
      top: 0;
      left: 0;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    }
  }
.sidebar .zen-resources ul {
  padding: 0;
  overflow: hidden;
}
.sidebar .zen-resources ul li {
  display: inline-block;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
