h1 {
   color:#ffffff;
   font-size:100px;
   
   position:absolute;
   left:50%;
   top:10%;
   transform: translateX(-50%) translateY(-50%);
}

h3{
   color:#ffffff;
}

p{
   color:#ffffff;
   font-size:12px;
}

h2{
   color:#ffffff;
   background-color:#8b4789;
}



